* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

div{
    float:left;
}

article > h2{
    
    width: 140px;
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    float:right;
    margin-bottom: 10px;
}

article{
    background-color: grey;
    border:black 2px solid;   
    padding: 0; 
    margin: 25px;
}

p {
    clear: right;
}

#chicken {
    background-color: palevioletred;

}

#beef {
    background-color: rgba(255, 0, 0, 0.616);
    color: white;

    
}

#sushi {
    background-color: papayawhip;
}

@media (min-width: 992px){
    .col-lg-4 {
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6 {
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
}
